<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game Tracker</title>
        <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />

        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'tracker_home'%}">Home</a></li>
                <li><a href="{%url 'list_games'%}">Games</a></li>
            </ul>
        </nav>
        <main >{% block content %} {% endblock %}</main>
    </body>
</html>