:root {
  --black: #000000;
  --white: #fcfcfc;
  --light-gray-1: #f8f8f8;
  --gray-2: #bcbcbc;
  --gray-3: #7c7c7c;
  --light-blue-1: #a4e4fc;
  --light-blue-2: #3cbcfc;
  --blue-1: #0078f8;
  --blue-2: #0000fc;
  --light-purple-1: #b8b8f8;
  --light-purple-2: #6888fc;
  --blue-3: #0058f8;
  --dark-blue-1: #0000bc;
  --light-purple-3: #d8b8f8;
  --light-purple-4: #9878f8;
  --purple-1: #6844fc;
  --dark-purple-1: #4428bc;
  --light-pink-1: #f8b8f8;
  --light-pink-2: #f878f8;
  --pink-1: #d800cc;
  --pink-2: #940084;
  --light-pink-3: #f8a4c0;
  --light-pink-4: #f85898;
  --red-1: #e40058;
  --dark-red-1: #a80020;
  --light-orange-1: #f0d0b0;
  --light-orange-2: #f87858;
  --orange-1: #f83800;
  --dark-orange-1: #a81000;
  --light-yellow-1: #fce0a8;
  --light-yellow-2: #fca044;
  --yellow-1: #e45c10;
  --dark-yellow-1: #881400;
  --light-yellow-3: #f8d878;
  --yellow-2: #f8b800;
  --yellow-3: #ac7c00;
  --dark-yellow-2: #503000;
  --light-green-1: #d8f878;
  --light-green-2: #b8f818;
  --green-1: #00b800;
  --dark-green-1: #007800;
  --light-green-3: #b8f8b8;
  --light-green-4: #58d854;
  --green-2: #00a800;
  --dark-green-2: #006800;
  --light-green-5: #b8f8d8;
  --light-green-6: #58f898;
  --green-3: #00a844;
  --dark-green-3: #005800;
  --light-cyan-1: #00fcfc;
  --light-cyan-2: #00e8d8;
  --cyan-1: #008888;
  --dark-cyan-1: #004058;
  --light-pink-5: #f8d8f8;
  --gray-4: #787878;
}