@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('color.css');
@import url('ui.css');
body{
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}